body {
    background-color: #838080;
    font-size: 40px;
    color: #333;
}
table {
    background-color: #e1d9d9;
    width: 70%;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}
h1{
    text-align: center;
    color: #24d982;

}
table, th, td {
    border: 1px solid #dde810;
    padding: 15px;
    text-align: middle;
}

th {
    background-color: #24d982;
    color: white;
}
button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 10px;
    border-radius: 12px; 
}
@media (min-width: 768px) {
    table {
        width: 70%;
    }
}

/* Media query for large desktops */
@media (min-width: 1200px) {
    table {
        width: 50%;
    }
}